# Basic func
numpy==2.2.6
pandas==2.3.3
scikit-learn==1.7.2

# Visualisation
matplotlib==3.10.8
seaborn==0.13.2

# Boostings
xgboost==3.1.3
catboost==1.2.8
lightgbm==4.6.0

# Extra
optuna==4.6.0
jupyterlab==4.5.1
scipy==1.15.3
openpyxl
xlrd